<!DOCTYPE html>
<html lang="en">
  <head>
    <title>X-Ray</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">    <link rel="stylesheet" href="{{ url_for('static', filename='css/pygments.css') }}">
    <script type="application/javascript">
    function search(e) {
      var inputValue=document.getElementById("search").value.trim();    
    if (inputValue !== "") {
        var text = document.getElementById("main").innerHTML;
        var re = new RegExp(inputValue,"g"); // search for all instances
          var newText = text.replace(re, `<mark>${inputValue}</mark>`);
          document.getElementById("main").innerHTML = newText;
    }
  }
    </script>
    <style>
        mark {
          background-color: skyblue;
        }
        main {
          padding-top: 70px;
          font-family: "Arial", "Helvetica", "sans-serif";
          font-size: 16px;
        }
        .vale > p {
          padding-bottom: 32px;
        }
        .mdlint .linkcheck {
          font-family: 'Courier New', Courier, monospace;
        }
        body {
            font-family: "Arial", "Helvetica", "sans-serif";
            font-size: 16px;
        }
        span.linenos {
          padding-right: .5in;
          font-size: .75em;
          font-weight: bolder;
          color: gray;
        }
        a:link::after {
          content:"";
        }
        
    </style>
  </head>
  <body>
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Markdown X-Ray</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Upload<span class="sr-only">(Current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">X-Ray</a>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Configurations</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/md_config">MarkdownLint Config</a>
                  <a class="dropdown-item" href="/vale_config">Vale Config</a>
                </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled"><img src="https://img.shields.io/badge/read_time-{{read_time}}-black" /></a>   
            </li>
            <li class="nav-item">
              <a class="nav-link disabled"><img src="https://img.shields.io/badge/percent_passive-{{ stats[0] }}-black"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled"><img src="https://img.shields.io/badge/weak_verbs%2Fsentence-{{ stats[1] }}-black"></a>
            </li>
          </ul>
          <span class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" id="search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" name="Search" onclick="search(id)">Search</button>
        </span>
        </div>
      </nav>
    </header>

 

    <main role="main" class="container" id="main">

      {% block content %}   
      



        <div class="container">  

        <ul class="nav nav-tabs" id="myTab">
          <li class="nav-item">
            <a class="nav-link" id="linkcheck-tab" role="tab" data-toggle="tab" aria-controls="linkcheck-tab" href="#linkcheck">Link Check</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="proselint-tab" role="tab" data-toggle="tab" aria-controls="proselint-tab" href="#proselint">Proselint</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" role="tab" id="readability-tab" data-toggle="tab" href="#readability">Readability</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" role="tab" id="vale-tab" data-toggle="tab" href="#vale">Vale</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" role="mdlint-tab" data-toggle="tab" href="#mdlint">Markdown Lint</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" role="markdown-tab" data-toggle="tab" href="#markdown">Markdown Source</a>
          </li>
        </ul>
        
        
     


        

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show" id="linkcheck" aria-labelledby="linkcheck-tab" role="tabpanel">
            <h1 class="display-4 title">Link Check</h1>
            
            <div class="render linkcheck" style="line-height:0%">
              {% for line in linkcheck %}

              <pre>{{ line }}</pre>
              
              {% endfor %}


            </div>
          </div>

          <div class="tab-pane fade show" id="proselint" aria-labelledby="proselint-tab" role="tabpanel">
            <h1 class="display-4 title">Proselint</h1>  
            <div spellcheck="true" class="render">{{ proselint|safe }}</div>
          </div>
        <div class="tab-pane fade show" id="readability" aria-labelledby="readability-tab" role="tabpanel">
          
            <h1 class="display-4 title">Readability</h1>
            {% for message in readability %}
            <p>{{ message|safe }}</p>
            {% endfor %}
        </div>
        <div class="tab-pane fade show active" id="vale" role="tabpanel" aria-labelledby="vale-tab">
          <h1 class="display-4 title">Vale</h1>
          <div class="vale">
          {{ vale|safe }}
          </div>
        </div>
        <div class="tab-pane fade show" id="markdown" role="tabpanel" aria-labelledby="markdown-tab">
          <h1 class="display-4 title">Markdown Source</h1>
          <div spellcheck="true">
          {{ md|safe }}
          </div>
        </div>
        <div class="tab-pane fade show" id="mdlint" role="tabpanel" aria-labelledby="mdlint-tab">
          <h1 class="display-4 title">Markdown Lint</h1>
          <div class="mdlint">
          {% if mdlint %}
          {% for line in mdlint %}
            <p>{{ line| safe }}</p>
          {% endfor %}
          {% else %}
          <p>None</p>
          {% endif %}
          </div>
        </div>

    </div>
     





    {% endblock %}
    </main>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!--<script src="{{ url_for('static', filename='js/find.js') }}"></script>-->
    <script>
      $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
      });
      </script>


</body>
</html>